
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1476497019'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1476497019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1476497019') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1476497019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1476497019#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-fw {
	margin:0px 4px 0px 2px;
}
.iconfont-blue {
	color:#337ab7
}
.icon-home:before { content: "\e602"; }
.icon-language:before { content: "\e609"; }
.icon-channel:before { content: "\e603"; }
.icon-product:before { content: "\e604"; }
.icon-iconfontiptv1:before { content: "\e600"; }
.icon-productcard:before { content: "\e605"; }
.icon-stb-log:before { content: "\e60e"; }
.icon-user:before { content: "\e606"; }
.icon-menu:before { content: "\e60a"; }
.icon-directory:before { content: "\e607"; }
.icon-log:before { content: "\e60b"; }
.icon-admin:before { content: "\e608"; }
.icon-houtaiguanli:before { content: "\e601"; }
.icon-admin-log:before { content: "\e60f"; }
.icon-dashboard:before { content: "\e663";}
.icon-linechart:before { content: "\e64a"}
.icon-grid:before { content: "\e64c"}
.icon-server:before { content: "\e610"}
.icon-fullscreen:before { content: "\e63a"}
.icon-monitor:before { content: "\e76a"}
.icon-stream:before { content: "\e644"}